@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* Full Height */
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
}

//dashboard side menu
.sidebar {
  color: #fff;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
}
.logo-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  background: rgba(28, 17, 41, 0.88);
}
.menubar {
  height: 88vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
}
.toggle-the-btn {
  position: absolute;
  bottom: 30px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle-the-btn Button {
  background-color: #fff;
}
.toggle {
  margin-left: 15px;
}

//book appointment
.book_appointment {
}

.book_appointment h1 {
  color: #15803d;
  font-weight: bold;
  font-size: 25px;
}

.book_appointment h2 {
  color: rgb(255 255 255);
  font-weight: bold;
  font-size: 20px;
}

.book_appointment .head {
  font-size: 40px;
}

.text-center {
  text-align: center;
}

.card-title {
  font-size: 1.5rem; /* Use rem for responsive font sizes */
}

.card-description {
  font-size: 1rem; /* Use rem for responsive font sizes */
}

.icon-button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon-button:hover {
  color: #000000; /* Change to your desired hover color */
}

.clickable-badge {
  cursor: pointer;
  border: 0px solid #ddd; /* Add your preferred border style */
  border-radius: 2px; /* Adjust the border-radius as needed */
  padding: 2px 4px; /* Adjust the padding as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a soft box shadow */
  width: 100%; /* Make the badge same width as the cell */
  text-align: left; /* Center the text */
  font-size: 12px; /* Adjust the font size as needed */
}

.clickable-badge:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}
